<header ng-include="'pages/header.html'"></header>
	
	<div class="container-fluid">
	  <div class="starter-template">
	  
		<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">My Order</h3>
			<!-- <div class="btn-group pull-right">
				<a ng-click="toggleModal()" class="btn btn-default"> <i class="glyphicon glyphicon-plus"></i> New Order</a>
			</div>
			<div class="clearfix"></div> -->
		</div>
		<div class="panel-body">
		
			<form ng-hide="userLevel>1" ng-submit="newOrder(addItem)" role="form">
			  <div class="form-group">
				  <div class="row">
					<div class="col-md-3 col-xs-3">
						<label>Nama Pelanggan</label>
						<input type="text" ng-model="addItem.nama" class="form-control" required/>
					</div>
					<div class="col-md-2 col-xs-2">
						<!-- <label>No Handphone</label>
						<input type="number" ng-model="addItem.mobile" class="form-control" required/> -->
					</div>
					<div class="col-md-3 col-xs-3">
						<!-- <label>Email</label>
						<input type="email" ng-model="addItem.email" class="form-control" required/> -->
					</div>
					<div class="col-md-4 col-xs-4">
						<!-- <label>Alamat</label>
						<input type="text" ng-model="addItem.alamat" class="form-control"/> -->
						<!-- <div id="dashb" class="input-group">
							<input type="text" class="form-control" ng-model="addItem.tglorder" datepicker/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div> -->
					</div>
				  </div>
			  </div>
			  
			  <div id="itemList" class="form-group">
				  <div ng-repeat="order in myOrder" class="row">
					<div class="col-md-4 col-xs-4">
						<label>Item</label>
						<input type="text" ng-model="addItem.item" class="form-control" required/>
					</div>
					<div class="col-md-2 col-xs-2">
						<label>Jumlah</label>
						<input type="number" ng-model="addItem.jml" class="form-control" placeholder="No SO" required/>
					</div>
					<div class="col-md-2 col-xs-2">
						<label>Deadline</label>
						<input type="text" class="form-control" ng-model="addItem.ddline" datepicker required/>
						<!-- <div id="dashb" class="input-group">
							<input type="text" class="form-control form_datetime" ng-model="addItem.ddline" datepicker/>
							<span class="input-group-btn" style="width:0px;"></span>
							<input type="time" class="form-control" ng-model="addItem.ddtime" timepicker/> -->
							<!-- <span class="input-group-btn hidden-xs">
								<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
							</span> -->
						<!-- </div> -->
					</div>
					<div class="col-md-4 col-xs-4">
						<label>Keterangan</label>
						<input type="text" ng-model="addItem.ket" class="form-control" required/>
					</div>
				  </div>
			  </div>
			  
			  <div class="form-group text-right">
				<input type="hidden" ng-model="addItem.opr" ng-init="addItem.opr=userId" ng-value="{{userId}}">
				<button type="button" ng-click="reset()" class="btn btn-info">Add Item</button>
				<button type="submit" class="btn btn-primary">Save Order</button>
			  </div>			  			  
			  <hr>
			</form>
			
			<div class="table-responsive">
			<form class="form-inline">
				<div class="form-group">
					<label>Search</label>
					<input type="text" ng-model="search" class="form-control" placeholder="Search">
				</div>
			</form>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="15%">Tanggal Order</th>
						<th ng-click="sort('nomorso')">No SO <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='nomorso'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th>Nama Pelanggan</th>
						<th>Item</th>
						<th>Jml</th>
						<th ng-click="sort('orderdeadline')">Deadline <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='orderdeadline'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th>Keterangan</th>
						<th ng-click="sort('orderstatus')">Status <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='orderstatus'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th ng-click="sort('oprname')">Operator <span class="glyphicon sort-icon pull-right" ng-show="sortKey=='oprname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
						<th>#</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{'warning': dtime(order.orderdeadline) == 1, 'yellow': dtime(order.orderdeadline) == 2 , 'success': dtime(order.orderdeadline) >= 3, 'danger': dtime(order.orderdeadline) == 0}" dir-paginate="order in listOrder|orderBy:sortKey:reverse|filter:search|itemsPerPage:25">
					<!-- <tr ng-repeat="order in listOrder"> -->
						<th scope="row">{{formatDate(order.orderdate) | date:"dd-MM-yyyy HH:mm"}}</th>
						<td>{{order.nomorso}}</td>
						<td>{{order.namapelanggan}}</td>
						<td>{{order.orderitem}}</td>
						<td>{{order.orderjml}}</td>
						<td>
							<div class="pull-left">{{formatDate(order.orderdeadline) | date:"dd-MM-yyyy"}}</div>
							<div class="notif pull-right" style="padding-top:8px">
								<span class="label label-default">{{dtime(order.orderdeadline)}} hari</span>
							</div>
						</td>
						<td>{{order.orderketerangan}}</td>
						<td class="text-center">
							<a href="#/myorder/{{order.ordstatus | slugify}}">{{order.ordstatus}}</a>
							<!-- <select class="form-control" ng-options="option.name for option in statusOrder"></select> -->
						</td>
						<td>{{order.oprname}}</td>
						<td><div ng-show="userLevel==10">
							<button ng-click="deleteOrder(order.orderid)" class="btn btn-danger">Delete</button>
						</div></td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
			</div>
		</div>
		
	  </div>
	</div>
	
<!-- tambah data -->
<script type="text/ng-template" id="myModalContent.html" >
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close"  ng-click="cancel()"><span aria-hidden="1">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title" id="myModalLabel">New Order</h3>
    </div>
    <div class="modal-body">
		
    </div>
    <div class="modal-footer" style="margin-top:0px"></div>
</div>
</script>

	<!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href ng-click="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
	
	<!-- <script src="dist/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$("input.form_datetime").datetimepicker({
			format: 'yyyy-mm-dd hh:ii',
			autoclose: true
		});
	</script>  -->